{
  "extends": "airbnb-base",
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
  },
  "rules": {
    "strict": 0,
    "import/no-extraneous-dependencies": 0
  },
  "env": {
    "node": true,
    "browser": false
  }
}
